*{
margin: 0; 
padding: 0;
box-sizing: border-box;
}

body	{
font-family: 'open sans', sans-serif;
}

nav	{
	padding: 0.8rem; 
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

nav .nav-logo, nav .nav {
margin: 0.5rem;
display: inline;
}

#intro {
padding-left: 10%;
padding-right: 10%;
padding-top: 2rem;
padding-bottom: 3rem;
text-align: center;
}

#intro h2, #intro p {
margin-bottom: 1rem;
}

#intro button {
font-weight: bold;
background-color: #c2195d;
border-radius: 25px;
font-size: 1rem;
padding: 1rem;
color: white;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#succeed-info h2 {
margin-bottom: 1rem;
}

#succeed-info h3 {
text-align: center;
margin-bottom: 1rem;
}

#succeed-info .card {
display: inline-block;
vertical-align: top;
min-height: 175px;
width: 30%;
margin-left: 0.5rem;
margin-right: 0.5;
}

#pre-footer {
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #000033;
	color: white;
	font-size: 1em;
	vertical-align: buttom;

}

#pre-footer h3 {
vertical-align: top;
}

#pre-footer .A {
display: inline-block;
vertical-align: top;
min-height: 150px;
width: 20%;
padding-left: 70%rem;
padding-right: 70%rem;
padding-bottom:10%rem;
border: 10rem;
}

